{% extends 'default/layout.html.twig' %}

{% block head %}
    {{ parent() }}
    <title> - Ingrédients</title>
{% endblock %}

{% block nav %}
    <div class="content">
        <nav class="ordreAlpha">
            <ul>
                <li><a href="{{ path('ingredient.index')}}" >Tout</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'A' }) }}>A</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'B' }) }}>B</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'C' }) }}>C</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'D' }) }}>D</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'E' }) }}>E</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'F' }) }}>F</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'G' }) }}>G</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'H' }) }}>H</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'I' }) }}>I</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'J' }) }}>J</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'K' }) }}>K</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'L' }) }}>L</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'M' }) }}>M</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'N' }) }}>N</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'O' }) }}>O</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'P' }) }}>P</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'Q' }) }}>Q</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'R' }) }}>R</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'S' }) }}>S</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'T' }) }}>T</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'U' }) }}>U</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'V' }) }}>V</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'W' }) }}>W</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'X' }) }}>X</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'Y' }) }}>Y</a></li>
                <li><a href={{ path('ingredient.by.letter', {'letter' : 'Z' }) }}>Z</a></li>
            </ul>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <div class="display">
        {% if not ingredients %}
            <p class="bg message">Désolée, aucuns ingrédient enregistrés à afficher pour le moment</p>
        {% else %}
            <section class="bg list">

                    {%  for ingredient in ingredients %}
                        <p>{{ ingredient.name }}</p>
                    {% endfor %}
            </section>
        {% endif %}
    </div>
{% endblock %}