{% extends 'default/layout.html.twig' %}

{% block nav %}
    {{ include('default/index.html.twig') }}
{% endblock %}

{% block content %}
    <div class="display">
        {% if not recipes %}
            <p class="bg message">Désolée, aucunes recettes enregistrées à afficher pour le moment</p>
        {% endif %}



        {% for recipe in recipes %}
            <div class="bg display-recipe">
                <h2>{{ recipe.name }}</h2>
                <div class="read-recipe">
                    <ul>
                        {% for ingredient in recipe.ingredients%}
                            <li>{{ ingredient.name }}</li>
                        {% endfor %}
                    </ul>
                    <p>{{ recipe.content }}</p>
                    {% for category in recipe.recipeCategories %}
                        <span class="category">{{ category.name }}</span>
                    {% endfor %}
                    <p>Recette de {{ recipe.user.name }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}