<!DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            {% block head %}
                <title>Classe ta croute</title>
            {% endblock %}

            {% block stylesheets %}
                <link href="{{ asset('style.css') }}" rel="stylesheet"/>
            {% endblock %}

            <link href="https://fonts.googleapis.com/css?family=Nunito"/>
            <link rel="stylesheet"
                  href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"
                  integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
                  crossorigin="anonymous">
        </head>

        <body>
            <header>
                <div id="bandeau">
                    <div id="connexion">
                        {% if not app.user %}
                            <h3><a href="{{ path('connection.index') }}"><i class="fas fa-sign-in-alt"></i> connexion</a></h3>
                        {% else %}
                            {% if app.user.roles == ["ROLE_ADMIN"] %}
                                <h3><a href="{{ path('admin.index') }}"><i class="fas fa-user"></i> Administation</a></h3>
                                <h3><a href="{{ path('user.index') }}"><i class="fas fa-user"></i> Profil</a></h3>
                            {% else %}
                                <h3><a href="{{ path('user.index') }}"><i class="fas fa-user"></i> Profil</a></h3>
                            {% endif %}
                            <h3><a href="{{ path('connection.logout') }}"><i class="fas fa-sign-out-alt"></i> déconnexion</a></h3>
                        {% endif %}
                    </div>
                </div>
                <div class="en-tete">
                    <h1><a href="{{ path('homepage') }}">Classe ta croute</a></h1>

                    <nav id="navPrincipale">
                        <ul>
                            <li><a href="{{ path('homepage') }}">Accueil</a></li>
                            <li><a href="{{ path('category.index') }}">Catégories</a></li>
                            <!--<li><a href="{{ path('recipe.index') }}">Recettes</a></li>-->
                            <li><a href="{{ path('ingredient.index') }}">Ingrédients</a></li>
                        </ul>
                    </nav>
                </div>
            </header>

            <section id="container">
                {% block nav %}
                {% endblock %}

                {% block content %}
                {% endblock %}
            </section>
        </body>
        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous">
        </script>
        <script src="{{ asset('Index.js') }}"></script>
    </html>