{% block content %}
    <table class="bg tableDisplay tableUser">
        <caption>Gestion des utilisateurs</caption>

        <thead>
        <tr>
            <th>Pseudo</th>
            <th>Prénom</th>
            <th>Nom</th>
            <th>E-mail</th>
            <th>Roles</th>
            <th>Action</th>
        </tr>
        </thead>
        {% for user in users%}
            {% if user != app.user %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.email }}</td>
                {% for role in user.roles %}
                    <td>{{ role }}</td>
                {% endfor %}
                <td class="action" align="center">
                    <button type="button">
                        <a href="{{ path('admin.edit.user', {'userId' : user.id}) }}">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </button>
                    <button>
                        <a href="{{ path('admin.delete.user', {'userId' : user.id}) }}">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </button>
                </td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
{% endblock %}