{% block content %}
    <div class="bg displayData">
        <h3>Gestion des utilisateurs</h3>

        <div class="head">
            <h4>Pseudo</h4>
            <h4>Prénom</h4>
            <h4>Nom</h4>
            <h4>E-mail</h4>
            <h4>Roles</h4>
            <h4>Action</h4>
        </div>
        {% for user in users%}
            {% if user != app.user %}
            <div class="dataContent">
                <p>{{ user.username }}</p>
                <p>{{ user.name }}</p>
                <p>{{ user.firstname }}</p>
                <p>{{ user.email }}</p>
                {% for role in user.roles %}
                    <p>{{ role }}</p>
                {% endfor %}
                <div class="action" align="center">
                    <button type="button">
                        <a href="{{ path('user.edit', {'userId' : user.id}) }}">
                            <i class="fas fa-user-edit"></i>
                        </a>
                    </button>
                    <button>
                        <a href="{{ path('admin.delete.user', {'userId' : user.id}) }}">
                            <i class="far fa-trash-alt"></i>
                        </a>
                    </button>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}