{% block content %}
    {% if not recipes %}
        <p class="bg message">Vous n'avez pas encore de recettes, ajoutez-en! <span class="add">+</span></p>
    {% else  %}
        <p>Ajouter une recette <span class="add">+</span></p>
    {% endif %}


    {{ include('pages/recipe/addRecipe.html.twig') }}


    {% for recipe in recipes %}
        <div class="bg display-recipe">
            <div class="recipe-title">
                <h2 class="contentH2">{{ recipe.name }}</h2>
                <div class="display-button">
                    <button><a href="{{ path('recipe.edit', {'recipeId' : recipe.id}) }}"><i class="fas fa-pen"></i></a></button>
                    <button><a href="{{ path('recipe.delete', {'recipeId' : recipe.id}) }}"><i class="far fa-trash-alt"></i></a></button>
                </div>
            </div>

            <div class="read-recipe">
                <ul>
                    {% for ingredient in recipe.ingredients%}
                        <li>{{ ingredient.name }}</li>
                    {% endfor %}
                </ul>
                <p class="content">{{ recipe.content }}</p>
                {% for category in recipe.recipeCategories %}
                    <span class="category">{{ category.name }}</span>
                {% endfor %}
                <p class="userName">Recette de {{ recipe.user.name }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}